.time-div {
  text-wrap: nowrap;
  padding: 1em;
  h4 {
    font-weight: 700;
    text-align: center;
    font-size: 1.6em;
  }

  .list-wrapper {
    display: flex;
    margin-top: 10px;

    ul {
      display: flex;
      flex-direction: column;

      li {
        height: 32px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        p {
          font-weight: 700;
        }
        input {
          margin-right: 5px;
        }
        select {
          border: 0.5px solid $blue;
          border-radius: 5px;
          background-color: white;
          height: 100%;
          width: 80px;
        }
        label {
          margin-right: 5px;
          display: flex;
        }
      }
    }
    .column1 {
      margin-right: 5px;
    }
  }

  .buttons {
    margin-top: 10px;
    text-align: right;
    .cancel {
      padding: 8px 35px;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      color: rgba(65, 66, 65, 1);
      cursor: pointer;
    }
    .save {
      padding: 8px 35px;
      background-color: $blue;
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  @include tablet {
    padding: 20px 20px 20px 0;
    h4 {
      font-size: 16px;
    }
    .list-wrapper {
      border-left: 0.3px solid rgba(65, 66, 65, 0.5);
      margin-top: 20px;
      padding-left: 35px;
      ul {
        li {
          margin-bottom: 12px;
          input {
            margin-right: 8px;
          }
          label {
            margin-right: 10px;
          }
          select {
            width: 100px;
            height: 80%;
          }
        }
      }
      .column1 {
        margin-right: 15px;
      }
    }
    .buttons {
      margin-top: 24px;
    }
  }

  @include screen {
    padding: 40px 40px 35px 0;
    .list-wrapper {
      margin-top: 40px;
      padding-left: 89px;
      ul {
        li {
          margin-bottom: 24px;
          input {
            margin-right: 17px;
          }
          select{
            width: 116px;
            height: 32px;
          }
        }
      }
      .column1 {
        margin-right: 40px;
      }
    }

    .buttons {
      margin-top: 48px;
      .cancel {
        padding: 14px 90.5px;
      }
      .save {
        padding: 14px 90.5px;
      }
    }
  }
}
