<main>
  <div class="card">
    <nav>
      <ul>
        <li><a href="#">ბალანსი</a></li>
        <li><a href="#">მფლობელი</a></li>
        <li><a href="#">შეზღუდვები</a></li>
        <li><a href="#">ისტორია</a></li>
      </ul>
      <img src="../assets/Vector.png" alt="x" />
    </nav>

    <section>

      <div class="input-div">
        <label for="tip">მოქმედების ტიპი</label>
        <select id="tip">
          <option>აირჩიეთ მოქმედების ტიპი</option>
        </select>
        <label for="time">ხანგრძლივობა</label>
        <input type="text" id="time" />
        <label for="count">მაქსიმალური რაოდენობა</label>
        <input type="text" id="count" />
        <label for="sation">სადგურების სია </label>
        <select id="station">
          <option>აირჩიე მოქმედების ტიპი</option>
        </select>
        <button>ლიმიტის დეაქტივაცია</button>
      </div>

      <div class="time-div">
        <h4>დროის შეზღუდვები</h4>
        <div class="list-wrapper">
          
          <ul class="days">
            <li>
              <label>
                <input type="checkbox" />
                <p>დღე</p>
              </label>
            </li>
            <li *ngFor="let day of days">
              <label>
                <input type="checkbox" />
                {{ day }}
              </label>
            </li>
          </ul>

          <ul class="column1">
            <li>
              <p>დაწყების დრო</p>
            </li>
            <li *ngFor="let day of days">
              <select>
                <option>00:00</option>
              </select>
            </li>
          </ul>

          <ul class="column2">
            <li>
              <p>დასრულების დრო</p>
            </li>
            <li *ngFor="let day of days">
              <select>
                <option>00:00</option>
              </select>
            </li>
          </ul>
        </div>

        <div class="buttons">
          <button class="cancel">გაუქმება</button>
          <button class="save">შენახვა</button>
        </div>
      </div>

    </section>
  </div>
</main>
